<!DOCTYPE html>
<html>
  <title>Caesar Cipher Encoder</title>
  <body>
    <form method="post">
      <h1>Pick a word to encrypt:</h1>
      <div>
          <label for="text">Word</label>
          <input name="text" type="text" />
      </div>
      <h2>Choose a respective key for symmetric encryption:</h2>
      <div>
          <label for="key">Key</label>
          <input name="key" type="text" />
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
